@use 'variables';

header {
  padding-top: 10vh;
  height: 400px;
  width: 100%;
  background-color: variables.$orange-theme;
  background-image: url('../images/arches.png');
  @extend %flex-center-all;
  flex-direction: column;
}

