@use 'variables';

.new-tweet {
  @extend %flex-justify-center;
  flex-direction: column;

  form {
    @extend %flex-column;
  }

  textarea {
    background: transparent;
    margin-bottom: 1rem;
    max-height: 4rem;
    max-width: 100%;
    resize: none;
  }

  div {
    font-family: "Bungee";
    @extend %flex-align-center;
    justify-content: space-between;
  }
  
  .new-tweet button {
    background-color: variables.$nav-color;
    color: #FFFFFF;
  }
}

.line-border {
  border: none;
  border-bottom: variables.$gray-border;
}

.red {
  color: red;
}

.error {
  @extend %flex-align-center;
  @extend .red;

  p {
    margin: auto 1rem;
    font-size: smaller;
  }
}

.border-error {
  border: none;
  border: 3px solid red;
}