header {
  padding-top: 30vh;
  height: 400px;
  width: 100%;
  background-color: #E28413;
  background-image: url('../images/arches.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

