header {
  display: flex;
}

header {
  justify-content: center;
}

header {
  align-items: center;
}

header {
  padding-top: 10vh;
  height: 400px;
  width: 100%;
  background-color: #E28413;
  background-image: url("../images/arches.png");
  flex-direction: column;
}
