.write-tweet, .nav-bar {
  display: flex;
}

.write-tweet {
  justify-content: center;
}

.write-tweet, .nav-bar {
  align-items: center;
}

.nav-bar {
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 1.5em;
  justify-content: space-between;
}

.write-tweet {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write-tweet:hover {
  cursor: pointer;
}
.write-tweet p {
  margin-bottom: -1px;
}
.write-tweet i {
  animation: up-down 2s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  0% {
    transform: translateY(0);
  }
}
#logo {
  font-size: 3rem;
}

.fa-angles-down {
  color: red;
}

.no-display {
  display: none;
}
