nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
}

nav span {
  font-family: 'Bungee';
  margin: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet {
  font-family: 'Source Sans Pro';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div p {
  margin-bottom: -1px;
}

#logo {
  font-size: 3rem;
}

.fa-angles-down {
  color: red;
}