.new-tweet form, .new-tweet div, .error, .new-tweet {
  display: flex;
}

.new-tweet {
  justify-content: center;
}

.new-tweet div, .error {
  align-items: center;
}

.new-tweet form {
  flex-direction: column;
}

.new-tweet {
  flex-direction: column;
}
.new-tweet textarea {
  background: transparent;
  margin-bottom: 1rem;
  max-height: 4rem;
  max-width: 100%;
  resize: none;
}
.new-tweet div {
  font-family: "Bungee";
  justify-content: space-between;
}
.new-tweet .new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.line-border {
  border: none;
  border-bottom: 3px solid #545149;
}

.red, .error {
  color: red;
}

.error p {
  margin: auto 1rem;
  font-size: smaller;
}

.border-error {
  border: none;
  border: 3px solid red;
}
