.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  background: transparent;
  margin-bottom: 1rem;
  max-height: 4rem;
  max-width: 100%;
  resize: none;
}

.line-border {
  border: none;
  border-bottom: 3px solid #545149;
}

.new-tweet div {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.red {
  color: red;
}

.error {
  display: flex;
  color: red;
  align-items: center;
}

.error p {
  margin: auto 1rem;
  font-size: smaller;
}

.border-error {
  border: none;
  border: 3px solid red;
}

.no-error {
  display: none;
}