.tweet {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 4px solid #545149;
  padding: 1rem 3rem;
  width: 100%;
}

.tweet:hover {
  box-shadow: 0.5rem 0.5rem darkgrey;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: flex;
  align-items: center;
}

.header img {
  margin-left: -0.8rem;
}

.header h3 {
  margin-left: 1rem;
  font-weight: lighter;
}

.handle {
  color: #B0B0AF;
  font-weight: bold;
}

.message {
  padding-bottom: 2rem;
  border-bottom: 4px solid #545149;
  margin: 3rem -1rem 1rem -1rem;
}

.message p {
  margin-left: 1em;
  margin-right: 1em;
  word-wrap: break-word;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.date {
  margin: 0;
  color: black;
}

.icons {
  font-size: large;
}

.icons i {
  margin: 0 4px;
}

.icons i:hover {
  color: darkgoldenrod;
}
