.tweet {
  margin-top: 2rem;
  border: 4px solid #545149;
  padding: 2rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: flex;
  align-content: center;
}

.message {
  padding-bottom: 2rem;
  border-bottom: 4px solid #545149;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.icons {
  font-size: 0.8rem;
}
.icons i {
  margin: 0 4px;
}